version: "3.9"

services:
  app-dev:
    container_name: app-dev
    build:
      context: .
      target: dev
    ports:
      - "3333:3333"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: pnpm run dev

  app-prod:
    container_name: app-prod
    build:
      context: .
      target: runtime
    ports:
      - "3333:3333"
    environment:
      NODE_ENV: production
    restart: unless-stopped
